[package]
name = "ayiou"
version = "0.1.0"
edition = "2024"

[dependencies]
ayiou-macros = { workspace = true }
tokio = { workspace = true }
tracing-subscriber = { workspace = true }
tracing = { workspace = true }
async-trait = { workspace = true }
anyhow = { workspace = true }
thiserror = { workspace = true }
dashmap = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
futures = { workspace = true }
